<div class="slideVid topper1">
  <div class="stickMe">
  <div class="wrap">
    <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6138021987001"
            id="player-4"
            class="video-js"
            controls playsinline>
          </video>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>

<!-- NORMA -->
<div class="fixedTotal padMe sectionHed">
  <div class="fixedContainer stickMe">
    <div class="pics left height changeMyBackground" >
      <img class="desktop" src="./assets/photos/norma_crop.jpg"/>
      <img class="mobile norma" src="./assets/verticals/Juarez_ejs_035.jpg"/>
    </div>
    <div class="pics left half">
      <img src="./assets/photos/Norma.JPG"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/grids/Juarez_Layout07_03.JPG"/>
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front left quarter" data-order="1">
      <div class="background text-wrapper activist-background">
        Norma Ledezma Ortega is a lawyer and the founder of the organization Justicia para Nuestras Hijas, or “Justice for Our Daughters.”
        In 2016, she earned her law degree, 14 years after her daughter Paloma Angélica Escobar Ledezma, 16, was killed in March 2002.
      </div>
    </div>

    <div class="text text-back left quarter" data-order="1">
      <div class="background text-wrapper activist-background">
        At the time, Ledezma Ortega had an elementary school education and worked in a factory that produced parts for airplanes.
        She vowed then to get justice for her daughter and other missing women. “With this legal weapon, I can fight for all the other victims as well,” she says.
      </div>
    </div>

    <div class="text right half" data-order="2">
      <div class="text-wrapper">
        <div>Ledezma Ortega, a lawyer and founder of Justicia para Nuestras Hijas, works on cases related to kidnapping,
          femicide and corruption. Ledezma Ortega works to locate victims of sex trafficking — from the state of Chihuahua to
          southern Mexico to the United States.</div>

        <div>“Recovering them and delivering them to their family is also very rewarding,” she says. “As a lawyer, I have a certain concept
          of justice ... but as a mother, I believe justice means a lot more. I know I don't have it, and I know I'll never have it.”</div>
      </div>
    </div>



      <div class="text text-front right half" data-order="3">
        <div class="text-wrapper">
          <div>Paloma, 16, loved cats and worked in the same airplane parts factory as her mother while attending high school.
            She dreamed of studying English and working in tourism or as an interpreter. She hoped to one day adopt children.</div>

          <div>On March 2, 2002, Paloma went to a computer course and never came home. Her mother, Ledezma Ortega, searched for her for 27 days.
            When Ledezma Ortega filed the police report, authorities minimized her concerns, saying Paloma “probably just wanted to have some fun”
            with a boyfriend. Ledezma Ortega believes it’s important for the public to hear and share the stories of femicide victims. “Doing this
            might be the only thing that can make the Mexican government feel accountable.”</div>
        </div>
      </div>

      <div class="text text-back right half" data-order="3">
        <div class="pullquote text-wrapper">
          <div class="quote">“I think something changed in me that night… I was born again that day: the woman, wife and
            factory worker was buried next to Paloma, and a warrior mother was born — a daring mother, a lioness.”</div>
          <div class="attr">Norma Ledezma Ortega</div>
        </div>
      </div>


  </div>
</div>
