

<!-- BIZ  -->
<h1>
  Economy
</h1>
<h2>
  Unprecedented surge in joblessness follows economy into a deep freeze
</h2>
<div class="hr2"></div>
<div class="photoWrap">
  <video src="assets/closed_business_LOOP.mp4" autoplay playsinline loop muted></video>
  <div class="caption">
    Many businesses throughout the Seattle area have temporarily closed because of the pandemic. (Ramon Dompor / The Seattle Times)
  </div>
</div>

<div class="fixedTotal sectionHed">
  <div class="fixedContainer stickMe pics half">
    <img class="desktop" src="./assets/photos/state-biz-W1.jpg"/>
    <div class="caption">
      Note: Not seasonally adjusted
      <br>Source: state Employment Security Department (Emily M. Eng / The Seattle Times)
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        <p>This past week's <a href="https://www.seattletimes.com/business/economy/washington-state-sees-nearly-177000-new-jobless-claims-amid-coronavirus-pandemic/" target="blank">record-setting unemployment report</a> underscores the deeper risk in the coronavirus crisis: that killing the virus will kill the economy.
        </p>
      </div>
    </div>
  </div>

  <div class="fixedContainer stickMe pics half">
    <img class="desktop" src="./assets/photos/state-biz-W2.jpg"/>
    <div class="caption">
      Note: Not seasonally adjusted
      <br>Source: state Employment Security Department (Emily M. Eng / The Seattle Times)
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        <p>As of last week, roughly one in eight state workers may now be out of a job. Thousands of businesses have closed — some permanently — and entire industries have shut down. In downtown Seattle, nearly two dozen hotels are closed, some reportedly at risk of default on their loans. And by some accounts, this is just the first wave.</p>
      </div>
    </div>
  </div>

</div>



<div class="maxWrap">
<p>The state Employment Security Department, already struggling under an unprecedented half-million unemployment claims, expects hundreds of thousands more in the coming weeks, as the paid leave offered by temporarily shuttered companies like Boeing and REI expires. Suzi LeVine, Employment Security Department boss, warns the state to brace for "a tsunami" of joblessness.</p>
</div>

<div class="video">
  <%= t.include("partials/_video.html", { id: "6144467626001"}) %>
  <div class="caption">Two months after Musang's opening, coronavirus compelled the Filipino restaurant to close. Chef Melissa Miranda and her team decided to pivot to becoming a community kitchen, providing free meals to anyone in need. (Corinne Chin / The Seattle Times)
  </div>
</div>

<div class="maxWrap">
  <p>Already, food banks are seeing thousands of new customers. Applications for food assistance are up nearly 66%. And here, too, a second wave of damage is likely building, as families that barely covered April rent or mortgages are unable to do so on May 1.</p>

  <p>As the damage mounts, there are growing fears of recession and rising political pressure to relax restrictions that show promise of containing the virus.</p>

  <p>Even public health advocates understand that the longer the economy is shut down, the less likely the revival, and there is a real possibility that Gov. Jay Inslee’s stay-at-home order will extend beyond May 4.</p>

  <p>Some of those anxieties may subside once federal aid starts to flow to reeling companies and laid-off workers. In theory, the damage is reversible.</p>

  <p>But the fundamental problem remains: even with “enough cash getting to workers and enough cash getting to businesses,” economists are deeply fearful of fatally weakening the crucial links between workers and employees, said Brett Theodos, an expert in community development at the Urban Institute.</p>

  <p>Even with massive federal stimulus, we may already be too late to avoid severe and possibly lasting damage, and not just to global players like Boeing. For small-business owners especially, the fear is they will survive the pandemic only to go bankrupt once it’s over.</p>

  <p>Companies may also confront a permanently altered marketplace, with consumers more inclined to consume at home, and employees far more concerned about workplace safety and far less interested in coming to an office.</p>

  <p>All this highlights the deeper challenge of bringing a post-industrial economy — and the community it supports — back from a pandemic.</p>

  <p>Unlike the Great Recession, this recovery will require more than just trillions of dollars in federal stimulus. It will require a deep social and cultural and personal effort to restore the human relationships that make the economy possible.
  </p>
  <p><i>— Paul Roberts</i></p>
  <a href="https://www.seattletimes.com/business/economy/washington-state-sees-nearly-177000-new-jobless-claims-amid-coronavirus-pandemic/" target="_blank">Read more about economy</a>
</div>

<div class="hr2"></div>

<!-- END OF BIZ-->