<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1583538478,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/femicide-juarez-mexico-border",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2020-02-08 07:00:00",
	"modifieddate":"2020-02-5-08 07:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"off",
	"section_tier1":"Pacific NW Magazine",
	"section_tier2":"",
	"sections_all":"Pacific NW Magazine",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 7,
	}];
</script>
