<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1586677193,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/\/charting-coronavirus-outbreak-washington-state",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"Seattle Times staff",
	"publishdate":"2020-04-12 06:00:00",
	"modifieddate":"2020-04-12 07:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"Coronavirus",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"off",
	"section_tier1":"Local",
	"section_tier2":"Data",
	"sections_all":"data|health|seattle-news",
	"othersections":"data, health",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 7,
	}];
</script>
