<section class="thin-div">
  <div class="center">Don’t Miss</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://projects.seattletimes.com/2019/beyond-the-border-asylum/">
          <img src="./assets/dontMiss/asylum.jpg"></img>
        </a>
        <div class="small">Beyond the Border</div>
        <div>
          <a href="https://projects.seattletimes.com/2019/beyond-the-border-asylum/">
            For asylum-seekers, dreams of a new life in the U.S. stall in Tijuana
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/life-after-deportation-a-family-with-roots-in-the-seattle-region-starts-over-in-mexico/">
          <img src="./assets/dontMiss/family.jpg"></img>
        </a>
        <div class="small">Life after Deportation</div>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/life-after-deportation-a-family-with-roots-in-the-seattle-region-starts-over-in-mexico/">
            A family with roots in the Seattle region starts over in Mexico
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://projects.seattletimes.com/2019/beyond-the-border-life-in-mexico-city-after-deportation/">
          <img src="./assets/dontMiss/mexico.jpg"></img>
        </a>
        <div class="small">From Here and From There</div>
        <div>
          <a href="https://projects.seattletimes.com/2019/beyond-the-border-life-in-mexico-city-after-deportation/">
            Deportees build new lives, and embrace ‘two cultures, two homes’
          </a>
        </div>
      </div>
    </div>



    <div class="story">
      <div class="padded">
        <a href="https://projects.seattletimes.com/2019/mmiw/">
          <img src="./assets/dontMiss/mmiw.jpg"></img>
        </a>
        <div class="small">Not Invisible</div>
        <div>
          <a href="https://projects.seattletimes.com/2019/mmiw/">
            Confronting a crisis of violence against Native women
          </a>
        </div>
      </div>
    </div>

</section>
