<div class="slideVid padMe">
  <div class="stickMe">
  <div class="wrap">
    <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6138024573001"
            id="player-6"
            class="video-js"
            controls playsinline>
          </video>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>

<!-- NI EN MORE -->
<div class="fixedTotal sectionHed padMe">
  <div class="fixedContainer stickMe">
    <!-- Jannette -->
    <div class="pics wide" >
      <img class="desktop" src="./assets/grids/Juarez_Layout09_01.JPG"/>
      <img class="mobile" src="./assets/verticals/Juarez_ejs_049.jpg"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/grids/Juarez_Layout09_04.JPG"/>
    </div>
    <div class="pics left height vert" >
      <img src="./assets/photos/Ni_En_More_0003.JPG"/>
    </div>

    <!-- ni en more -->
    <div class="pics left height vert" >
      <img src="./assets/photos/Ni_En_More_0004.JPG"/>
    </div>
    <div class="pics left half" >
      <img src="./assets/photos/Ni_En_More_0005.JPG"/>
    </div>


    <!-- Hilda -->

    <div class="pics left height vert" >
      <img src="./assets/grids/Juarez_Layout11_04.JPG"/>
    </div>
    <div class="pics left half" >
      <img src="./assets/grids/Juarez_Layout11_02.JPG"/>
    </div>
    <div class="pics left half" >
      <img src="./assets/grids/Juarez_Layout11_03.JPG"/>
    </div>





  </div>

  <div class="fixedTexts">
    <div class="text left quarter" data-order="1">
      <div class="text-wrapper hero">
        Janette Terrazas is a visual artist known as “Mustang Jane” and a project coordinator and
        co-founder, with Norwegian visual artist Lise Bjørne Linnert, at NI EN MORE. The nonprofit women’s sewing studio in
        Juárez is working to create a sustainable business that offers fair wages, a safe work environment and training to women.
        All of NI EN MORE’s proceeds are invested back into the business and the workers’ communities.
      </div>
    </div>

    <div class="text right half" data-order="2">
      <div class="text-wrapper">
        Terrazas — a visual artist, cultural activist and cultural promoter — created this protest patch with a loom and natural dyes.
        The pink cross in the center is a symbol of justice for women who disappeared or died by femicide in Juárez.
        Terrazas believes the boom in <i>maquiladoras</i> (factories) in Juárez created vulnerable working conditions for
        women, including low wages and sometimes dangerous commutes across the city. The flowers around the cross are a tribute to the women’s lives.
      </div>
    </div>

    <div class="text right vert-half" data-order="3">
      <div class="text-wrapper">
        Terrazas creates different types of textile maps, where hanging threads or lights symbolize the lives of women killed in Juárez.
        Preserving collective memory and increasing awareness of femicide is important to many activists in the region, where many of the crimes
        are unsolved. In January, <a href="https://www.nbcnews.com/news/latino/shooting-death-young-woman-activist-returns-spotlight-femicides-juarez-mexico-n1120811">
          activist and artist Isabel Cabanillas de la Torre</a>, 26, was killed in downtown Juárez. “It’s the first time
        I’m going to embroider someone that I really know,” says Terrazas.
      </div>
    </div>

      <!-- NI EN MORE -->
      <div class="text right vert-half" data-order="4">
        <div class="text-wrapper hero">
          Candelaria Gutiérrez Pérez sews at NI EN MORE. Gutiérrez Pérez, of the Indigenous Rarámuri community, will lead the opening of a new NI EN MORE studio
          in a Rarámuri neighborhood in Juárez, expanding sewing and dyeing programs. NI EN MORE acquired a grant for the new studio, and is looking for funds
          to continue its development.
        </div>
      </div>

      <div class="text right half" data-order="5">
        <div class="text-wrapper">
          Gutiérrez Pérez, an expert in dyeing with natural plant materials, wraps flower petals into clothing to be
          dyed at NI EN MORE in Juárez. Plants, flowers and vegetables are used in the hand-dye processes.
          “The NI EN MORE studio acts in opposition to the <i>maquiladoras’</i> mass
          production standards,” says Terrazas.
        </div>
      </div>

      <!-- HILDA -->
      <div class="text text-front right vert-half" data-order="6">
        <div class="text-wrapper hero">
          Hilda María Ortega Trillo, a mother of two and an expert dressmaker, is photographed in one of the NI EN MORE dresses.
          NI EN MORE is a combination of Spanish, Norwegian and English words meaning “Not one more.” The phrase was inspired by the poetry of
          Susana Chávez, who protested femicides in Juárez, before being killed herself in 2011. Terrazas says their name was created as
          an act of solidarity. “We are talking about a movement, and we are not owners of this movement,” says Terrazas.
        </div>
      </div>
      <div class="text text-back right vert-half" data-order="6">
        <div class="pullquote text-wrapper hero">
          <div class="quote">“I’ve learned that as a woman, we have a lot of power and potential.”</div>
          <div class="attr">Hilda María Ortega Trillo</div>
        </div>
      </div>

      <div class="text right half" data-order="7">
        <div class="text-wrapper">
          Ortega Trillo attends services at her church in Juárez. “On one side there’s violence, but on the other side,
          we have to keep on going with our responsibilities,” she says. “We can’t lock ourselves in our homes
          because we’re scared that something bad could happen to us. The only thing we have left is trying to prevent everything
          that is happening on the streets.”
        </div>
      </div>
      <div class="text right half" data-order="8">
        <div class="text-wrapper">
          Ortega Trillo attends a church service in Juárez.
        </div>
      </div>




  </div>
</div>
