<div class="slideVid topper1">

  <!-- <video width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="./assets/crosses_lomas.mp4" type="video/mp4">
  </video> -->
  <div class="stickMe">
    <div class="wrap">

      <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6138020265001"
            id="player-2"
            class="video-js" controls playsinline>
          </video>
        </div>
      </div>
    </section>

    <div class="overlay"></div>

    </div>
  </div>

  <!-- <h1>poem - Maria most wise</h1> -->
</div>


<div class="slideNormal claudiaSlide sectionHed">

  <div class="maxWrap clearPoint">

    <div class="hr2"></div>
    <div class="claudia">
      <img src="./assets/photos/claudia.JPG"/>
      <a href="https://www.seattletimes.com/pacific-nw-magazine/washington-state-poet-laureate-claudia-castro-luna-writes-a-book-for-ciudad-juarezs-murdered-and-missing-marias/">
        <div class="readMore">Read more about Castro Luna</div>
      </a>
    </div>

    <div class="claudiaText">
    <p style="margin-top: 0;">The poems in this project are from Washington State Poet Laureate Claudia Castro Luna’s book “Killing Marías.”</p>

    <p class="caption caption2">
      “Castro Luna, who was Seattle’s first Civic Poet, from 2015 to 2017, and the founder of Seattle Poetic Grid, wants
      readers to think about how their own choices as consumers of products ... might contribute, in an indirect way, to the hardships of workers
      such as the female factory employees at the <i>maquiladoras</i>.
    </p>
    <p class="caption caption2">“As she wrote the poems, she also felt a desire to seek vengeance against their killers.” <i>— Tyrone Beason</i></p>

    </div>

    <div class="hr2"></div>
  </div>

</div>


<div class="fixedTotal">
  <div class="fixedContainer stickMe">
    <div class="pics left" >
      <img class="desktop" src="./assets/photos/juarez_mural.jpg"/>
      <img class="mobile" src="./assets/verticals/Juarez_ejs_016.jpg"/>
    </div>
    <div class="pics left half">
      <img src="./assets/grids/Juarez_Layout04_02.JPG"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/grids/Juarez_Layout04_04.JPG"/>
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front left quarter" data-order="1">
      <div class="text-wrapper background expert-background">
        In Juárez, a pedestrian walks by a mural of Luz Angélica Mena Flores, who was last seen in 2008.
      </div>
    </div>

    <div class="text text-back left quarter" data-order="1">
      <div class="text-wrapper background expert-background">
        <div>Verónica Corchado, director of the Municipal Institute of Women located in downtown Juárez, says the agency
        has been working on a series of initiatives to increase safety there, an area where young girls and women have been abducted.</div>
        <div>Female students and workers often commute to and from remote parts of the city,
          leaving them at risk during downtown bus transfers and walking home from the bus stop.</div>
      </div>
    </div>

    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        Verónica Corchado, an organizer and human rights activist, works as the director of the Municipal Institute of Women located in downtown Juárez.
        In her career spanning more than 25 years — focused on eliminating violence against women — she has survived three assaults.
        “With every murder, it is all of us who fail — society and government,” she says.
      </div>
    </div>

    <div class="text text-back right half" data-order="2">
      <div class="pullquote text-wrapper">
        <div class="quote">“Gender-based violence is a public health issue.”</div>
        <div class="attr">Verónica Corchado</div>
      </div>
    </div>


      <div class="text text-front right half" data-order="3">
        <div class="text-wrapper">
          Imelda Marrufo Nava is the general coordinator of Red Mesa de Mujeres, a network of civil society organizations
          serving women in vulnerable situations, as well as families of women who have been victims of trafficking or femicide.
          The work of Red Mesa de Mujeres encompasses everything from influencing policy to using art as a vehicle for therapy and activism.
        </div>
      </div>

      <div class="text text-mid right half" data-order="3">
        <div class="text-wrapper">
          Marrufo says the number of femicides decreased between 2013 and 2014, but a Red Mesa de Mujeres program
          has tracked “an alarming increase” in femicide since 2016, using newspaper articles and statistics from the state prosecuting attorney.
        </div>
      </div>

      <div class="text text-back right half" data-order="3">
        <div class="text-wrapper">
          “Violence against women is a global issue; it’s a global phenomenon, and women have been suffering this for
          many years,” she says. “We have learned many sexist cultural traits that haven’t been fully eradicated, either in the
          United States or Mexico … It doesn’t only happen in Mexico.”
        </div>
      </div>




  </div>
</div>
