<div class="bigSlide">


<div class="guts">
  <div class="pics half right">
    <img src="./assets/photos/Juarez_ejs_037.JPG"/>
  </div>
</div>


<div class="guts">
  <div class="pics half left">
    <img src="./assets/photos/Juarez_ejs_064.JPG"/>
  </div>
</div>


<div class="guts">
  <div class="pics half right">
    <img src="./assets/photos/Juarez_ejs_021.JPG"/>
  </div>
</div>



<div class="guts">
  <div class="pics half right">
    <img src="./assets/photos/Juarez_ejs_023.JPG"/>
  </div>
</div>

<div class="guts">
  <div class="pics half right">
    <img src="./assets/photos/Juarez_ejs_063.JPG"/>
  </div>
</div>



</div>
