<div class="slideVid topper1">
  <div class="stickMe">
  <div class="wrap">
    <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6137697237001"
            id="player-3"
            class="video-js"
            controls playsinline>
          </video>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>

<!-- PERLA  -->
<div class="fixedTotal sectionHed">
  <div class="fixedContainer stickMe">
    <div class="pics left" >
      <img class="desktop" src="./assets/photos/perla_crop.jpg"/>
      <img class="mobile perla" src="./assets/verticals/Juarez_ejs_025.jpg"/>
    </div>
    <div class="pics left half">
      <img src="./assets/photos/perla2.jpg"/>
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front left quarter-right white" data-order="1">
      <div class="text-wrapper hero">
        Perla Janina Reyes Loya feeds her children lunch in Juárez. Her daughter
        Jocelyn Calderón Reyes, 13 — seen on her shirt — disappeared Dec. 30, 2012, on her way to a friend’s house. She is still missing.
      </div>
    </div>

    <div class="text text-back left quarter-right white" data-order="1">
      <div class="text-wrapper hero">
        <div>Reyes often protests and engages in activism to remind the community that this still is happening.</div>

        <div>“When we go out on the streets, we spread our testimony to stop young girls from dying, right? We have to make young
          girls aware of this to prevent it,” says Reyes. “Going out on the streets, screaming out their names … we feel like we are actually
          doing something to find them, that we are fighting, and that we won’t stop until we find them.”</div>
      </div>
    </div>

    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        Reyes is photographed in her home in Juárez. She says it’s important for the public to help combat
        femicide by not remaining silent. “Disappearances continue in Juárez,” Reyes says. “We still ask of you that if you see our
        girls, please help them get back home.”
      </div>
    </div>


      <div class="text text-back right half" data-order="2">
        <div class="pullquote text-wrapper">
          <div class="quote">“We aren’t living in a free country where young people, children, can play or go out, because there are
            people who want to destroy them … they destroy their dreams, young people’s dreams … Jocelyn was a girl who had big dreams.”</div>
          <div class="attr">Perla Janina Reyes Loya</div>
        </div>
      </div>



  </div>
</div>
<!-- END OF PERLA -->


<div class="maxWrap padMe clearPoint">
<p><i><span class="dropcap slant">W</span>ho is killing the women of Ciudad Juárez?</i></p>

<p>It’s a question that has consumed the public imagination and fueled media fascination. Authorities in Juárez have blamed serial killers,
  gangs and even the women themselves, some of whom they claimed were living double lives as sex workers.</p>

<p>For Cynthia Bejarano, who has researched femicide as a professor of gender and sexuality studies at New Mexico State University, “who” is not the
  right question to ask. “ ‘Why is it that it’s ongoing? Why is it that it’s happening in every community, in every corner of the world?’
  That should be the issue,” Bejarano says.</p>

<p>The reasons are complex and multilayered, residing at the intersections of privilege, class and gender.</p>

<p>In Juárez, rampant impunity gives perpetrators confidence they won’t be caught. The vast majority of crimes are never punished,
  according to many researchers, including some Mexican government studies.</p>

<p>“Experts widely agree that the homicide impunity rate is in the high 90s, with the number frequently given as 98 percent,”
  says Vanda Felbab-Brown, senior fellow at the Brookings Institution. She says that number has remained the same for about 15 years.</p>

<p>“Our society is all aware — the victims are aware — that no government was ever interested or willing to solve this issue,” says Norma Ledezma Ortega, founder of
  Justicia para Nuestras Hijas (Justice for Our Daughters). “[The victims] don’t have any political or economic power that could be of interest to the state.”</p>

<p>Early research found that many victims were young and economically disadvantaged. Many worked for low wages in the city’s <i>maquiladoras</i> (large factories),
  like Ledezma Ortega’s daughter, Paloma Angélica Escobar Ledezma, who was killed in 2002 at the age of 16. </p>

</div>



  <div class="photoWrap">
    <div class="half-stat">
      <img src="./assets/grids/Juarez_Layout06_01.JPG"/>
    </div>
    <div class="half-stat">
      <img src="./assets/grids/Juarez_Layout06_02.JPG"/>
    </div>
    <div class="caption">
      LEFT: A pedestrian walks past an abandoned hotel and bar in Juárez, where pink crosses and
      signs seeking information about missing or murdered women are posted.
      RIGHT: A poster for María Guadalupe Pérez Montes is displayed.
    </div>
  </div>

<div class="maxWrap clearPoint">

<p>Mothers say they don't get much help from officials and are left alone to do the work of finding their daughters and fighting for justice.</p>

<p>In November 2001, eight young women were found in el Campo Algodonero, an abandoned cotton field on a busy street near the <i>maquiladora</i> association
  headquarters. The following year, three mothers presented a petition against the state of Mexico to the Inter-American Court of Human Rights.
  The state argued that their daughters' killings were isolated crimes — and not part of a systemic pattern.</p>

<p>“Authorities deny [femicide],” says Perla Janina Reyes Loya, whose daughter Jocelyn Calderón Reyes has been missing since 2012, when she was 13.
  “They don’t respect women’s rights; they always try to cover this up. They say, ‘Nothing’s happening,’ when in fact our daughters have been
  missing for many years.”</p>

<p>In 2009, the Inter-American Court ruled that Mexico mishandled the Campo Algodonero investigations, failing to protect the victims’
  human rights — the first time a state was held responsible for gender-based killings, setting a historic precedent.</p>
</div>

    <div class="photoWrap">
      <img class="single" src="./assets/grids/Juarez_Layout03_01.JPG"/>
      <div class="half-stat">
        <img src="./assets/grids/Juarez_Layout03_02.JPG"/>
      </div>
      <div class="half-stat">
        <img src="./assets/grids/Juarez_Layout03_03.JPG"/>
      </div>
      <div class="caption">
        LEFT: Memorial Campo Algodonero, the Cotton Field Memorial, honors femicide victims in Juárez. The name of
        the memorial references eight young women who were found in a Juárez cotton field in November 2001. In 2009, the
        Inter-American Court of Human Rights found Mexico mishandled investigations and failed to protect the victims’ human
        rights — the first time a state was held responsible for gender-based murders, setting a historic legal precedent.
        TOP RIGHT: Weathered notices of missing women are displayed at Memorial Campo Algodonero, the Cotton Field Memorial, in Juárez.
        BOTTOM RIGHT: A cross reads “Ni Una Más” — or “Not One More” — at Memorial Campo Algodonero.
      </div>
    </div>

<div class="maxWrap">
<p>Despite that legal victory for the mothers, entrenched social and economic systems remain unequal. A culture of <i>machismo</i> — male dominance —
  reinforces stereotypical gender roles. Some have speculated that it fueled resentment toward wage-earning women. Research shows that many
  perpetrators of femicide are known to their victims, especially in cases of intimate partner violence. With so many systems intersecting, it’s
  hard for mothers to envision what justice might look like.</p>

<p>“I know I don’t have it, and I know I’ll never have it,” Ledezma Ortega says.</p>

<p>Justice is about more than holding a singular perpetrator accountable, Bejarano says.</p>

<p>“It’s much more complicated and difficult to look systemically at things,”
  she says, “to look societally at these issues and to say, ‘When have I been guilty of misogynistic acts?’ ”</p>


</div>

<!-- NORMA  -->
<div class="fixedTotal padMe2">
  <div class="fixedContainer stickMe">
    <div class="pics left" >
      <img class="desktop" src="./assets/grids/Juarez_Layout05_01.JPG"/>
      <img class="mobile" src="./assets/verticals/Juarez_ejs_028.jpg"/>
    </div>
    <div class="pics left half">
      <img src="./assets/grids/Juarez_Layout05_02.JPG"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/grids/Juarez_Layout05_03.JPG"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/photos/Juarez_ejs_032.JPG"/>
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front left quarter white" data-order="1">
      <div class="text-wrapper hero">
        Norma Laguna Cabral says her daughter Idalí Juache Laguna, 19, never came home one afternoon in 2010.
        Two years later, authorities found fragments of her skull in the Navajo Arroyo in the rural Valle de Juárez,
        a region known for cartel violence located roughly an hour east of the city.
      </div>
    </div>

    <div class="text text-back left quarter white" data-order="1">
      <div class="text-wrapper hero">
        <div>Keeping Idalí’s memory alive is important to her mother.</div>
        <div>“When we meet with other mothers that have been through the same thing, it is like therapy for us,” Laguna Cabral
          says. “Only we can understand what we are going through … The courage, the disappointment, the helplessness, the despair,
          the sadness, the pain — that pain that never goes away.”</div>
      </div>
    </div>

    <div class="text right half" data-order="2">
      <div class="text-wrapper">
        Laguna Cabral created a mosaic gravestone with the organization Red Mesa de Mujeres to honor her daughter Idalí.
        “I always say that as long as I’m alive, her memory will be alive as well,” she says.
      </div>
    </div>



      <div class="text right half" data-order="3">
        <div class="text-wrapper">
        Laguna Cabral holds a necklace someone gifted her to remember her daughter.
        Idalí enjoyed playing soccer on a local team and was
        “very confident” and “would always see the good in people,” her mother says.
        </div>
      </div>

      <div class="text text-front right half" data-order="4">
        <div class="text-wrapper">
          Panteón Jardines del Recuerdo, a cemetery on the western outskirts of Juárez, is the site of Idalí's grave.
          “It is very sad to hear the news and find out that girls keep disappearing and are found murdered, just like our daughters.
          When we hear that, our pain reopens — it’s as if they were our daughters, too,” says her mother, Laguna Cabral.
          “With each day that passes, our authorities disappoint us more. We feel more helplessness and despair.”
        </div>
      </div>

      <div class="text text-back right half" data-order="4">
        <div class="pullquote text-wrapper">
          <div class="quote">“Even though remembering can be very painful, I refuse to let other families, other mothers, go through something like this.”</div>
          <div class="attr">Norma Laguna Cabral </div>
        </div>
      </div>


  </div>
</div>
