

<!-- PERLA  -->
<div class="fixedTotal sectionHed">
  <!-- <div class="fixedContainer stickMe">
    <div class="pics left" >
      <img class="desktop" src="./assets/photos/perla_crop.jpg"/>
      <img class="mobile perla" src="./assets/verticals/Juarez_ejs_025.jpg"/>
    </div>
    <div class="pics left half">
      <img src="./assets/photos/perla2.jpg"/>
    </div>
  </div> -->
<div class="fixedContainer stickMe pics half">
  <img class="desktop" src="./assets/photos/perla2.jpg"/>
  <img class="mobile" src="./assets/photos/perla2.jpg"/>
</div>

  <div class="fixedTexts">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        Reyes is photographed in her home in Juárez. She says it’s important for the public to help combat
        femicide by not remaining silent. “Disappearances continue in Juárez,” Reyes says. “We still ask of you that if you see our
        girls, please help them get back home.”

        “We aren’t living in a free country where young people, children, can play or go out, because there are
            people who want to destroy them … they destroy their dreams, young people’s dreams … Jocelyn was a girl who had big dreams.”

            Reyes is photographed in her home in Juárez. She says it’s important for the public to help combat
            femicide by not remaining silent. “Disappearances continue in Juárez,” Reyes says. “We still ask of you that if you see our
            girls, please help them get back home.”
    
            “We aren’t living in a free country where young people, children, can play or go out, because there are
                people who want to destroy them … they destroy their dreams, young people’s dreams … Jocelyn was a girl who had big dreams.”
                Reyes is photographed in her home in Juárez. She says it’s important for the public to help combat
                femicide by not remaining silent. “Disappearances continue in Juárez,” Reyes says. “We still ask of you that if you see our
                girls, please help them get back home.”
        
                “We aren’t living in a free country where young people, children, can play or go out, because there are
                    people who want to destroy them … they destroy their dreams, young people’s dreams … Jocelyn was a girl who had big dreams.”
                    Reyes is photographed in her home in Juárez. She says it’s important for the public to help combat
                    femicide by not remaining silent. “Disappearances continue in Juárez,” Reyes says. “We still ask of you that if you see our
                    girls, please help them get back home.”
            
                    “We aren’t living in a free country where young people, children, can play or go out, because there are
                        people who want to destroy them … they destroy their dreams, young people’s dreams … Jocelyn was a girl who had big dreams.”
      </div>
    </div>
  </div>
</div>
<!-- END OF PERLA -->


<div class="maxWrap clearPoint">
<p>Who is killing the women of Ciudad Juárez?</i></p>

<p>It’s a question that has consumed the public imagination and fueled media fascination. Authorities in Juárez have blamed serial killers,
  gangs and even the women themselves, some of whom they claimed were living double lives as sex workers.</p>

<p>For Cynthia Bejarano, who has researched femicide as a professor of gender and sexuality studies at New Mexico State University, “who” is not the
  right question to ask. “ ‘Why is it that it’s ongoing? Why is it that it’s happening in every community, in every corner of the world?’
  That should be the issue,” Bejarano says.</p>

<p>The reasons are complex and multilayered, residing at the intersections of privilege, class and gender.</p>

<p>In Juárez, rampant impunity gives perpetrators confidence they won’t be caught. The vast majority of crimes are never punished,
  according to many researchers, including some Mexican government studies.</p>
</div>