<div class="slideVid topper1">
  <div class="stickMe">
  <div class="wrap">
    <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6137694847001"
            id="player-5"
            class="video-js"
            controls playsinline>
          </video>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>


<div class="maxWrap sectionHed">

<p><span class="dropcap">“C</span>iudad Juárez is ahead of Mexico — for good and for ill,” says Tony Payan, director of the Center for the United States
  and Mexico at Rice University’s Baker Institute and a professor of social sciences at Universidad Autónoma de Ciudad Juárez.</p>

<p>In many ways, Juárez is not unlike Seattle. It’s known as a progressive urban center that has been dubbed the “laboratory of the future,”
  attracting diverse workers from other parts of Mexico to the border. Juárez is home to 326 <i>maquiladoras</i>, which employ 300,000 people, according to
  Index Juárez, Asociación de Maquiladoras, A.C.</p>

<p>The manufacturing industry began to flourish from the 1970s through the 1990s, when global industrialization brought an economic and demographic boom
  to the border. <i>Maquiladoras</i> broke ground in the open space surrounding urban Juárez, including American manufacturers like Delphi and Johnson & Johnson,
  seeking cheap labor to build parts for cars, home appliances and medical devices. Juárez grew so quickly with the influx of workers that dense informal
  settlements sprang up on hillsides along the edges of the city. They lacked electricity, sewage and paved roads; some of these neighborhoods still lack
  infrastructure today.</p>

</div>
<div class="photoWrap">
  <img class="single" src="./assets/grids/Juarez_Layout08_01.JPG"/>
  <div class="half-stat">
    <img src="./assets/grids/Juarez_Layout08_02.JPG"/>
  </div>
  <div class="half-stat">
    <img src="./assets/grids/Juarez_Layout08_03.JPG"/>
  </div>
  <div class="caption">
    TOP: Pedestrians walk in Lomas de Poleo on the outskirts of Juárez. During the <i>maquiladora</i> boom of the late-20th century,
    workers built informal settlements, sometimes lacking running water or electricity, on the edges of the city. These areas are
    still economically disadvantaged, and workers and students can face long and sometimes risky commutes by bus and on foot.
    BOTTOM LEFT: The sun sets on the U.S. and Mexico border wall that runs through the Chihuahuan Desert near the Juárez neighborhood of Anapra,
    where several women’s bodies have been found. “We have a tendency — not only here in the U.S., but in general — we see what is wrong in other
    places, but we don’t see what’s wrong here,” says María-Socorro Tabuenca C., professor of Spanish at the University of Texas at El Paso.
    “We need to pay attention — there is a lot of vulnerability with migrants, with documents and without documents, in the country.”
    BOTTOM RIGHT: Discarded clothing lies in the desert sand in Lomas de Poleo.
  </div>
</div>

<div id="scroll" class="maxWrap clearPoint">
<p>By the time NAFTA was implemented in 1994, formally incentivizing trade between the United States and Mexico, the structures that targeted
  women for violence were already well-established: For years, <i>maquiladoras</i> preferred to hire women, Payan says — they were seen as more punctual than
  men, as well as less likely to commit crimes or consume drugs and alcohol. Single young women from small towns had moved to Juárez in waves to
  become wage earners, sometimes facing long and dangerous commutes to work. <i>Maquiladora</i> jobs often pay minimum wage, which was just $4.50 per day as recently as 2017. (In January, it increased to $9.75 per day in border states.) To earn enough to get by, workers rely on bonuses given at the discretion
  of supervisors.</p>

<p>“The economic model favored the exploitation of thousands of women,” Payan says.</p>

<p>Economic exploitation, weak government institutions and organized crime — trafficking
  corridors run through the border city — have created “a perfect storm” in Juárez, Payan says.</p>
</div>

<div class="photoWrap">
  <div class="single"><img src="./assets/photos/Juarez_ejs_014_2.JPG"/></div>
  <div class="caption">A Juárez market sells religious statues, including the Virgin of Guadalupe.
    This apparition of Mary, the mother of Jesus, is an important cultural symbol of Mexico. The city’s cathedral is named after her.</div>
</div>


<div class="maxWrap">

<p>“We cannot just negate the role of the United States, the role of capitalism, the role of drug consumption in the United States,”
  says Bejarano. “[Femicide] has so much to do with our desires and our addictions here in the United States.”</p>

<p>Activists protest the culture of economic inequality, impunity and misogyny that enable violence against women. But the work is not without risk.
  In 2010, Marisela Escobedo Ortiz was shot to death while protesting government inaction after the killing of her 16-year-old daughter,
  Rubí Marisol Frayre Escobedo. Feminist poet Susana Chávez, who coined the protest cry “Ni Una Más” — “Not One More” — was found strangled in 2011,
  her left hand severed. And in January, <a href="https://www.nbcnews.com/news/latino/shooting-death-young-woman-activist-returns-spotlight-femicides-juarez-mexico-n1120811">feminist artist Isabel Cabanillas de la Torre</a>, 26, was found shot to death in downtown Juárez. She was an
  active member of Hijas de su Maquilera Madre, one of several feminist collectives in Juárez.</p>

<p>After Cabanillas was found, activists in Juárez filled the streets, shutting down a border crossing for hours. Women in Juárez continue
  to demonstrate, fighting to change society’s norms — and to keep victims’ memories alive.</p>
</div>
