<div class="photoWrap">
  <img class="single" src="./assets/grids/Juarez_Layout01_01.JPG"/>
  <div class="caption">
    TOP: Juárez — the largest city in Chihuahua, Mexico — is home to around 1.3 million residents, according to
    2010 data from Mexico’s National Institute of Statistics and Geography. Pedestrians cross the street in downtown Juárez.
    BOTTOM LEFT: A mural of Mexican superstar Juan Gabriel is painted on a nine-story building in Juárez.
    Known as “El Divo de Juárez,” Gabriel grew up in the city and sang at local restaurants and bars before climbing to stardom.
    BOTTOM RIGHT: A family walks through downtown Juárez.
  </div>
</div>

<div class="maxWrap sectionHed">
  <p class="byline">By XXXX</p>
  <p class="staff-position">Seattle Times journalists</p>

  <p class="publish-date">Published April 12, 2020</p>

<p>Ciudad Juárez sits just across the Rio Grande from El Paso at the western tip of Texas. Every day, thousands of people pass between
  these twin cities, which form the second-most-populated urban area straddling the U.S.-Mexico border. Juárez is a city known for its pivotal
  role in the Mexican Revolution, its manufacturing industry and as a place that draws people from all over the country.</p>

<!-- <div class="funding">
  <div class="logos">
    <div class="logo"><img src="./assets/pulitzer.png"/></div>
    <div class="logo"><img src="./assets/iwmf.png"/></div>
  </div>
  <div>This story was produced in partnership with the
    <a href="https://pulitzercenter.org/" target="_blank" rel="noreferrer nofollow noopener">Pulitzer Center</a> and the
    <a href="https://www.iwmf.org/programs/adelante/" target="_blank" rel="noreferrer nofollow noopener">International Women's Media Foundation</a>.</div>
</div> -->

<p>But on the U.S. side of the border, Juárez might be most-known for its reputation as one of the most violent cities in the world.
  In the mid-1990s, international media began to fixate on hundreds of gruesome killings of women: mostly young women of modest means.
  News stories reported on bodies found en masse in the Chihuahuan desert, at times describing evidence of trauma
  and torture in lurid and objectifying detail.</p>

</div>

<div class="maxWrap">

<p>No one knows exactly how many women have been killed or kidnapped in Juárez, but gender-based killings continue.
  In 2019, the Mexican government registered 1,006 victims of gender-based homicide across the country, with 31
  of those in Chihuahua state, where Juárez is located. That is a 137% increase over five years, according to Mexico's
  attorney general. Those numbers account only for the women who were found. Many more crimes go undiscovered, unsolved
  and unpunished, enough that homicide on the basis of gender has generated its own official classification in
  Mexico and in much of Latin America: <i>femicide</i>.</p>

<p>Femicide is not just the killing of victims who happen to be female. It’s a systematic violation of human rights.
  Whether through domestic violence or sexual assault, the victims of femicide are women who were killed <i>because</i> they are women.</p>
</div>

<div class="maxWrap">
  <img class="single" src="./assets/photos/Juarez_ejs_021.JPG"/>
  <div class="caption">A cross with the pink sign “Ni Una Más” or “Not One More” sits at the Paso del Norte International Bridge, which connects
    Juárez and El Paso, Texas. “Ciudad Juárez has been a very resilient city battered by gender violence,” says Verónica Corchado, director of the
    Municipal Institute of Women in Juárez. “From 1993 — when they started registering the cases — until today, around 1,700 women have been murdered
    as a result of gender violence.” Local academics and activists have helped compile this data.
  </div>
</div>

<div class="maxWrap" class="margin">
<p>Because of this standard's high burden of proof — and because so many women never have been found — official statistics are almost
  certainly unreliable. Academics and activists in Juárez have been trying to <a href="http://www.ellastienennombre.org/mapa.html">map killings</a> and <a href="http://www.casa-amiga.org.mx/index.php/Contenido/el-feminicidio.html">compile databases</a> since 1993.</p>

<p>But the missing and murdered women of Juárez are more than statistics and data points. They are beloved daughters who have left behind an
  unimaginable and senseless void. They are the fuel of activism against impunity and injustice. They are the seeds of grief that blossom into art.
  And they are beautiful, fragile memories that must be preserved.</p>
</div>
