

<!-- HOSPITAL  -->
<a name="hospitalizations"></a> 
<h1>
  Hospitalizations
</h1>
<h2>
  Dire predictions of an overwhelmed hospital system have not come to pass</h2>
<div class="hr2"></div>

<div class="maxWrap">
  <p>The forecast was ominous: “We anticipate that our hospitals will be in crisis by the end of the month,” wrote Gov. Jay Inslee in a <a href="https://www.seattletimes.com/seattle-news/health/more-than-250-people-in-washington-hospitalized-last-week-with-covid-19-like-symptoms-as-part-of-monthlong-upward-trend-state-data-shows/" target="blank">March 17 letter to President Donald Trump</a> requesting a Navy hospital ship drop anchor off Seattle.</p>
  
  <p>More than three weeks later, the surge in hospitalizations has not emerged, thanks in part to social distancing measures and restrictions on elected surgeries.</p>
  
  <p>Instead, Inslee recently sent ventilators and a military field hospital that never saw a patient back to the federal government for use in harder-hit states.</p>
  </div>

<div class="fixedTotal sectionHed">
  <div class="fixedContainer stickMe pics half" data-order="1" style="opacity: 0">
    <img class="desktop" src="./assets/photos/state-hospital-W1.jpg"/>
    <div class="caption">
      *Washington state has a total of 11,808 hospital beds, 1,493 of them in ICUs.
<br>Sources: UW Institute of Health Metrics and Evaluation,
Washington State Hospital Association (Emily M. Eng / The Seattle Times)
    </div>
  </div>

  <div class="fixedTexts" data-src="./assets/photos/state-hospital-W1.jpg" data-caption="*Washington state has a total of 11,808 hospital beds, 1,493 of them in ICUs.
  &lt;br&gt;Sources: UW Institute of Health Metrics and Evaluation,
  Washington State Hospital Association (Emily M. Eng / The Seattle Times)">
    <div class="text text-front right half" data-order="1">
      <div class="text-wrapper">
        <p>Through the spring, the state has had a spotty record in tracking hospitalizations, a key metric in the pandemic. State officials in March appeared to undercount the number of occupied beds. Last week, a new tracking system put in place April 2 began <a href="https://www.seattletimes.com/seattle-news/politics/coronavirus-hospitalizations-in-washington-state-sharply-higher-than-earlier-surveys-but-officials-say-curve-still-flattening/" target="blank">producing more accurate counts</a>.</p>
      </div>
    </div>
  </div>

  <div class="fixedTexts" data-src="./assets/photos/state-hospital-W2.jpg" data-caption="*Washington state has a total of 11,808 hospital beds, 1,493 of them in ICUs.
  &lt;br&gt;Sources: UW Institute of Health Metrics and Evaluation,
Washington State Hospital Association (Emily M. Eng / The Seattle Times)">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        <p>They indicated that there is substantial room for more COVID-19 patients that do not require intensive care. The margin of available ICU beds, however, is growing increasingly thin. But hospitals, large and small, are expanding the ability to care for these patients in part by delaying elective surgeries, an expansion not yet reflected in state hospital capacity numbers.</p>
      </div>
    </div>
  </div>

</div>

<div class="maxWrap">
<p>Hospitals still face a dilemma involving people who required surgeries during the epidemic — for a heart attack or a broken hip, for instance. Typically they would recuperate at a nursing home.</p>

<p>But those facilities — hit hard by pandemic — either stopped admitting patients or may have required multiple COVID-19 tests to prove they weren’t infected. As a result, hospitals have struggled to find beds for those patients to rehabilitate.</p>

<p>“We’ve so aggressively emptied out our hospitals,” said Sauer, with the state hospitals association. “But we are thinking we may be inadvertently overwhelmed, because people don’t have a place to discharge those folks.”</p>
</div>

<div class="maxWrap">
  <p><i>— Hal Bernton and Mike Reicher</i></p>
<a href="https://www.seattletimes.com/seattle-news/politics/coronavirus-hospitalizations-in-washington-state-sharply-higher-than-earlier-surveys-but-officials-say-curve-still-flattening/" target="_blank">Read more about hospitalizations</a>
</div>

<div class="hr2"></div>
<!-- END OF HOSPITAL -->