<div class="slideVid topper1">
  <div class="stickMe">
  <div class="wrap">
    <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6138020258001"
            id="player-7"
            class="video-js"
            controls playsinline>
          </video>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>

<div class="slideNormal topper1 center memorial clearPoint sectionHed">
  <div class="photoWrap">
    <img class="single" src="./assets/grids/Juarez_Layout11_05.JPG"/>
  </div>

  <div class="maxWrap">


    <div class="subhed" style="color: #e06e82;">In memory of</div>

    <div class="star">Jocelyn Calderón Reyes</div>
    <div class="star">Paloma Angélica Escobar Ledezma</div>
    <div class="star">Idalí Juache Laguna</div>
    <div class="star">María Guadalupe Pérez Montes</div>
    <div class="star">Adriana Sarmiento Enríquez</div>
    <div class="star">and all the missing and murdered women of Ciudad Juárez.</div>
  </div>
</div>

<div class="hr2"></div>

<div class="slideNormal" id="howtohelp">
  <div class="maxWrap">
    <div class="subhed">How you can help</div>
    <p>“You can start in your own neighborhood to make a change. I think that is the first step,”
      says Janette Terrazas, artist and co-founder of <a href="https://www.nienmore.com/">NI EN MORE</a>.</p>
    <p>Terrazas suggests volunteering for or donating to shelters that serve women facing violence.
      In Juárez, <a href="https://www.casa-amiga.org.mx/">Casa Amiga</a> is a nonprofit crisis center founded by activist Esther Chávez Cano, who began tracking femicide cases in 1993.</p>
    <p>Norma Laguna Cabral, whose daughter Idalí, 19, disappeared in 2010, says donations to <a href="http://www.mesademujeresjuarez.org/">Red Mesa de Mujeres</a> have helped her and other
      families commemorate their daughters’ would-be birthdays and the anniversaries of their disappearances. </p>
    <p>Imelda Marrufo Nava, general coordinator of Red Mesa de Mujeres, adds,
      “Should anyone be interested in helping a particular family, we will be happy to put them in touch.”</p>
    <p>Even those who can’t afford to donate can contribute by analyzing their consumer habits,
      says Cynthia Bejarano, professor of gender and sexuality studies at New Mexico State University.</p>
    <p>“Be aware of where you’re purchasing your products, clothing,” Bejarano says.</p>
    <p>Bejarano also suggests reaching out to members of Congress and posting on social media to raise awareness.</p>
    <p>Perla Janina Reyes Loya, whose 13-year-old daughter, Jocelyn, disappeared in 2012, agrees.</p>
    <p>“Please, if you know of any case, don’t keep silent; denounce it,” Reyes says.</p>

    <div class="hr2"></div>

    <div class="subhed">Resources</div>
    <ul>
     	<li><a href="https://www.facebook.com/jpnh01"><span style="font-weight: 400;">Justicia para Nuestras Hijas</span></a><span style="font-weight: 400;"> and Norma Ledezma Ortega</span></li>
     	<li><a href="https://www.nienmore.com"><span style="font-weight: 400;">NI EN MORE</span></a><span style="font-weight: 400;"> and Janette Terrazas</span></li>
     	<li><a href="http://www.mesademujeresjuarez.org/"><span style="font-weight: 400;">Red Mesa de Mujeres</span></a><span style="font-weight: 400;"> and Imelda Marrufo Nava</span></li>
     	<li><a href="http://immuj.gob.mx/"><span style="font-weight: 400;">Municipal Institute for Women in Juárez </span></a><span style="font-weight: 400;">and Verónica Corchado</span><i></i></li>
     	<li><a href="https://www.elliottbaybook.com/book/9780998631448"><span style="font-weight: 400;">“Killing Marías,”</span></a><span style="font-weight: 400;"> a book by Claudia Castro Luna</span></li>
     	<li><strong><a href="http://ellastienennombre.org"><span style="font-weight: 400;">Ellas Tienen Nombre</span></a><span style="font-weight: 400;"> maps violence against women in Juárez</span></strong></li>
     	<li><a href="https://www.seattle.gov/cityattorney/crime-victim-assistance/getting-help">Local Domestic Violence Resources</a> from Seattle City Attorney</li>
      <li><a href="https://www.amazon.com/More-Less-Dead.../dp/0816531161">“More or Less Dead: Feminicide, Haunting, and the Ethics of Representation in Mexico,”</a> a book by Alice Driver</li>
    </ul>
  </div>
</div>

<div class="hr2"></div>

<div class="slideNormal topper1 center">
  <div class="maxWrap">

  <section class="marketing marketing--footer">
	<h3 class="marketing__text marketing__hed">About this project</h3>
	<p class="marketing__text marketing__body">Learn more about the inspiration for the reporting — and the ties that connect Juárez and Seattle.</p>
  <p><a href="https://www.seattletimes.com/pacific-nw-magazine/the-backstory-about-the-disappearing-daughters-project#watch">Revisit the visual poems here</a></p>
	<a class="marketing__button" href="https://www.seattletimes.com/pacific-nw-magazine/the-backstory-about-the-disappearing-daughters-project/">Read More</a>
  </section>

  <!-- <div class="hr"></div> -->

  <section class="marketing marketing--footer">
  <h3 class="marketing__text marketing__hed">Meet the storytellers</h3>
  <p class="marketing__text marketing__body">Join Claudia Castro Luna, Corinne Chin and Erika Schultz at Elliott Bay Book Company on March 29 for readings
    from “Killing Marías,” a screening of visual poems and a discussion of the photojournalism in “Disappearing Daughters.”</p>
    <p></p>
  <a class="marketing__button" href="https://www.facebook.com/events/2619015995002718/">RSVP here</a>
  </section>

  <!-- <div class="hr"></div> -->

  </div>
</div>

<div class="slideNormal topper1 center">
  <div class="maxWrap creditSlide">
  <div class="credits">
  <div class="credit"><b>Special thanks to</b>
    Ciudad Juárez-based translator Álvaro Guzmán and producers
    Clemente Sánchez and Luis Hinojos, who contributed to the reporting of this story.</div>

    <div class="hr"></div>

    <div class="credit"><b>Additional thanks to</b>

    <div class="credit">Vianna Davila, Alice Driver, Alicia Araís Fernández,<span class="breakMe"></span>Lise Bjørne Linnert,
      <span class="breakMe2"></span>Alejandra Rodríguez Matamoros,<span class="breakMe2"></span> Kathleen Staudt,<span class="breakMe"></span>María-Socorro Tabuenca C.</div>
    </div>

    <div class="hr"></div>

    <div class="credit"><b>Corinne Chin</b> is a senior video journalist at The Seattle Times. She also serves as a lead for the newsroom’s
      Diversity & Inclusion Task Force. She can be reached at <a href="mailto:cchin@seattletimes.com">cchin@seattletimes.com</a>.</div>

      <div class="hr"></div>

    <div class="credit"><b>Erika Schultz</b> works as a staff photographer for The Seattle Times, where she focuses on
      documentary photo and video storytelling. She can be reached at <a href="mailto:eschultz@seattletimes.com">eschultz@seattletimes.com</a>.</div>

    <div class="hr"></div>

    <div class="credit"><b>Claudia Castro Luna</b> is a poet and writer currently serving as Washington State Poet Laureate (2018-2021).
      She can be reached at <a href="mailto:castrolunaclaudia@gmail.com">castrolunaclaudia@gmail.com</a> or through her website: <a href="http://www.castroluna.com/">castroluna.com</a></div>

    <div class="hr"></div>

    <div class="credit"><b>Story:</b> Corinne Chin and Erika Schultz</div>

    <div class="credit"><b>Photography:</b> Erika Schultz</div>

    <div class="credit"><b>Video:</b> Corinne Chin</div>

    <div class="credit"><b>Story editors:</b> Bill Reader, Sandy Deneau Dunham and Danny Gawlowski</div>

    <div class="credit"><b>Developer:</b> Lauren Flannery</div>

    <div class="credit"><b>Graphics editor:</b> Emily M. Eng</div>

    <div class="credit"><b>Engagement:</b> Amy Wong and Taylor Blatchford</div>
  </div>
  </div>
</div>
