
<div class="slideNormal topper1 center memorial clearPoint sectionHed">
  <div class="photoWrap">
    <img class="single" src="./assets/photos/Juarez_ejs_021.JPG"/>
  </div>

<div class="hr2"></div>


<div class="slideNormal topper1 center">
  <div class="maxWrap creditSlide">
  <div class="credits">


    <div class="credit"><b>Corinne Chin</b> is a senior video journalist at The Seattle Times. She also serves as a lead for the newsroom’s
      Diversity & Inclusion Task Force. She can be reached at <a href="mailto:cchin@seattletimes.com">cchin@seattletimes.com</a>.</div>

      <div class="hr"></div>

    <div class="credit"><b>Erika Schultz</b> works as a staff photographer for The Seattle Times, where she focuses on
      documentary photo and video storytelling. She can be reached at <a href="mailto:eschultz@seattletimes.com">eschultz@seattletimes.com</a>.</div>

    <div class="hr"></div>

    <div class="credit"><b>Claudia Castro Luna</b> is a poet and writer currently serving as Washington State Poet Laureate (2018-2021).
      She can be reached at <a href="mailto:castrolunaclaudia@gmail.com">castrolunaclaudia@gmail.com</a> or through her website: <a href="http://www.castroluna.com/">castroluna.com</a></div>

    <div class="hr"></div>

    <div class="credit"><b>Story:</b> Corinne Chin and Erika Schultz</div>

    <div class="credit"><b>Photography:</b> Erika Schultz</div>

    <div class="credit"><b>Video:</b> Corinne Chin</div>

    <div class="credit"><b>Story editors:</b> Bill Reader, Sandy Deneau Dunham and Danny Gawlowski</div>

    <div class="credit"><b>Developer:</b> Lauren Flannery</div>

    <div class="credit"><b>Graphics editor:</b> Emily M. Eng</div>

    <div class="credit"><b>Engagement:</b> Amy Wong and Taylor Blatchford</div>
  </div>
  </div>
</div>
