

<!-- MODEL -->
<div class="hr2"></div>
<div class="photoWrap">
  <video src="assets/ernestina_rough.mp4" autoplay playsinline loop muted></video>
  <div class="caption">
    TOP: Juárez — the largest city in Chihuahua, Mexico — is home to around 1.3 million residents, according to
    2010 data from Mexico’s National Institute of Statistics and Geography. Pedestrians cross the street in downtown Juárez.
  </div>
</div>

<h1>
  Modeling HEADLINE
</h1>

<div class="fixedTotal sectionHed">
  <div class="fixedContainer stickMe pics half">
    <img class="desktop" src="./assets/photos/test-2.jpg"/>
    <img class="mobile" src="./assets/photos/test-2.jpg"/>
    <div class="caption">
      TOP: Juárez — the largest city in Chihuahua, Mexico — is home to around 1.3 million residents, according to
      2010 data from Mexico’s National Institute of Statistics and Geography. Pedestrians cross the street in downtown Juárez.
    </div>
  </div>

  <div class="fixedContainer stickMe pics half">
    <img class="desktop" src="./assets/photos/UW-tester.jpg"/>
    <img class="mobile" src="./assets/photos/test-2.jpg"/>
    <div class="caption">
      TOP: Juárez — the largest city in Chihuahua, Mexico — is home to around 1.3 million residents, according to
      2010 data from Mexico’s National Institute of Statistics and Geography. Pedestrians cross the street in downtown Juárez.
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        

300 WORDS sit amet, consectetur adipiscing elit. Phasellus convallis imperdiet ante, id sollicitudin quam viverra sit amet. Suspendisse tincidunt mollis quam ut auctor. Aliquam congue sem eros, sit amet faucibus nunc vulputate ut. Fusce dapibus nulla lorem, quis luctus ex vestibulum condimentum. Curabitur malesuada sodales risus, vel tincidunt nibh hendrerit sodales. Sed rhoncus molestie lacus, eget interdum augue tempor id. Curabitur ligula diam, maximus nec odio non, condimentum pulvinar orci. Aliquam tincidunt tempor maximus. Nunc felis erat, pretium quis tortor quis, lobortis pulvinar lectus. Etiam sit amet interdum ex. Sed tempor in elit at laoreet. Nulla facilisi. Cras rutrum metus ante, eu ullamcorper lacus eleifend ut. Sed congue malesuada felis nec dapibus. Cras id eleifend diam. Curabitur aliquam ac ante nec viverra.

Curabitur efficitur mollis neque vel eleifend. Nullam dictum mauris ut dui semper, eget tempor ante interdum. Suspendisse neque nunc, pretium a semper non, posuere at neque. Morbi fringilla luctus tellus. Mauris ultricies, tellus ut vestibulum porta, sem ipsum maximus eros, at dictum neque elit et leo. Sed eget fringilla mi. Proin feugiat tortor eu nulla feugiat rutrum. Duis mattis lacus nec ligula elementum sollicitudin. Fusce lacinia non lectus a aliquam. Ut malesuada dignissim ex, id maximus dui porttitor id.

Vivamus quis nisi id ipsum pharetra auctor. Donec viverra, augue condimentum dictum porta, ipsum lacus eleifend quam, sit amet aliquam lacus dui in ex. Duis efficitur lorem consectetur ornare mollis. Integer elit dolor, mattis ac cursus vel, ornare eu turpis. Sed est diam, rutrum ac euismod nec, tristique faucibus nibh. Sed ut tellus maximus, efficitur lorem in, porttitor nulla. Praesent bibendum, lorem quis tempus tempus, dui metus rhoncus erat, sit amet suscipit nulla risus eu odio. Aliquam et iaculis purus. Nam lacus dui, dictum id iaculis et, iaculis nec lacus. In lectus nisi, faucibus nec mattis vel, aliquam. 
      </div>
    </div>
  </div>
</div>



<div class="maxWrap">
<p>Who is killing the women of Ciudad Juárez?</i></p>

<p>It’s a question that has consumed the public imagination and fueled media fascination. Authorities in Juárez have blamed serial killers,
  gangs and even the women themselves, some of whom they claimed were living double lives as sex workers.</p>

<p>For Cynthia Bejarano, who has researched femicide as a professor of gender and sexuality studies at New Mexico State University, “who” is not the
  right question to ask. “ ‘Why is it that it’s ongoing? Why is it that it’s happening in every community, in every corner of the world?’
  That should be the issue,” Bejarano says.</p>
</div>

<div class="video">
  <%= t.include("partials/_video.html", { id: "5782719735001"}) %>
  <div class="caption">Lt. Adrian Diaz of the Seattle Police Department and Carmen Martinez of the Duwamish Valley Youth Corps talk with neighbors and youth in South Park about gangs, violence and graffiti. (Lauren Frohne & Ramon Dompor / The Seattle Times)
  </div>
</div>

<div class="maxWrap">
<p>The reasons are complex and multilayered, residing at the intersections of privilege, class and gender.</p>

<p>In Juárez, rampant impunity gives perpetrators confidence they won’t be caught. The vast majority of crimes are never punished,
  according to many researchers, including some Mexican government studies.</p>
</div>

<div class="hr2"></div>

<!-- END OF MODEL -->