

<!-- MODEL -->
<a name="predictions"></a> 
<div class="hr2"></div>
<h1>
  Predictions
</h1>
<h2>
  Models forecast the epidemic’s toll, but they are highly uncertain
</h2>

<div class="hr2"></div>
<div class="photoWrap">
  <video src="assets/overall_LOOP.mp4" autoplay playsinline loop muted></video>
  <div class="caption">
    Some of Seattle’s most crowded corridors, like Amazon’s South Lake Union headquarters and Pike Place Market, are empty now due to social distancing restrictions aimed at curbing the spread of the coronavirus. (Ramon Dompor / The Seattle Times)
  </div>
</div>

<div class="fixedTotal sectionHed">
  <div class="fixedContainer stickMe pics half" data-order="1" style="opacity: 0">
    <img class="desktop" src="./assets/photos/state-modeling-march-W1.jpg"/>
    <div class="caption">
      Source: Institute for Disease Modeling (Emily M. Eng / The Seattle Times)
    </div>
  </div>

  <div class="fixedTexts" data-src="./assets/photos/state-modeling-march-W1.jpg" data-caption="Source: Institute for Disease Modeling (Emily M. Eng / The Seattle Times)">
    <div class="text text-front right half" data-order="1">
      <div class="text-wrapper">
        <p>Mathematical models are one of the few tools available to forecast the spread of the new coronavirus and the impact of social distancing, especially since testing remains limited. Officials have relied on them heavily.</p>
        <p>Early models, based on genetic analyses from Washington state’s first patients, suggested the pathogen had been spreading silently since mid-January. At the beginning of March, when the official count stood at 13 cases, scientists at the <a href="https://www.idmod.org/" target="blank">Institute for Disease Modeling</a> (IDM) estimated there were probably more than 500 cases in Washington.</p>
      </div>
    </div>
  </div>

  <div class="fixedTexts" data-src="./assets/photos/state-modeling-march-W2.jpg" data-caption="Source: Institute for Disease Modeling (Emily M. Eng / The Seattle Times)">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        <p>As the number of confirmed cases soared exponentially, IDM estimated that, if left unchecked, the virus <a href="https://www.seattletimes.com/seattle-news/how-big-will-the-coronavirus-outbreak-get-this-bellevue-scientist-is-figuring-that-out/" target="blank">could infect 25,000 people</a> in King and Snohomish counties by early April, with 400 deaths likely.</p>
        <p>The shocking numbers helped spur Gov. Jay Inslee to impose increasingly stringent measures to slow transmission. By late March, analysis of traffic patterns and anonymous Facebook data showed the measures <a href="https://www.seattletimes.com/seattle-news/hospitalizations-for-covid-19-like-illness-declined-last-week-in-washington-offering-a-glimmer-of-hope/" target="blank">seemed to be working</a>. IDM scientists calculated that transmission rates had been roughly halved, which corresponds with a slowdown in the rate of new infections.</p>
      </div>
    </div>
  </div>

  <div class="fixedTexts" data-src="./assets/photos/state-modeling-death-W1.jpg" data-caption="Source: IHME COVID-19 Projections (Emily M. Eng / The Seattle Times)">
    <div class="text text-front right half" data-order="3">
      <div class="text-wrapper">
        <p>But modeling remains highly uncertain, based on assumptions about things that are still unknown, like the number of infected people with no symptoms and their role in spreading the disease.</p>
      </div>
    </div>
  </div>

  <div class="fixedTexts" data-src="./assets/photos/state-modeling-death-W2.jpg" data-caption="Source: IHME COVID-19 Projections (Emily M. Eng / The Seattle Times)">
    <div class="text text-front right half" data-order="4">
      <div class="text-wrapper">
        <p>Modeling from the University of Washington’s Institute for Health Metrics and Evaluation <a href="https://www.seattletimes.com/seattle-news/health/uw-model-says-social-distancing-is-starting-to-work-but-still-projects-1400-coronavirus-deaths-in-the-state/" target="blank">initially suggested</a> Washington could see more than 1,400 deaths, even with social distancing, and warned hospitals could run out of beds.</p>
      </div>
    </div>
  </div>
</div>

<div class="maxWrap">
  <p>But new data from Italy and Spain, where the epidemic seems to have peaked, led to major revisions last week. The group now forecasts about 842 deaths in Washington and says hospitalizations may have already peaked, with no bed shortages.</p>
  <p>Looking forward, the models seem to agree on one point: If social distancing is rolled back too soon, infections and deaths will soar.</p>
  <p><i>— Sandi Doughton</i></p>

  <a href="https://www.seattletimes.com/seattle-news/as-coronavirus-spreads-frontline-workers-press-inslee-for-more-info-on-where-personal-protective-equipment-is-going/" target="_blank">Read more about predictions</a>

</div>

<div class="hr2"></div>



<!-- END OF MODEL -->