<div class="slide topper1">

  <video width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="./assets/crosses_lomas.mp4" type="video/mp4">
  </video>
  <h1>poem - They found you in park CHamizal</h1>
</div>



  <div class="photoWrap">
    <img src="./assets/grids/Juarez_Layout05_01.JPG"/>
    <div class="half-stat">
      <img src="./assets/grids/Juarez_Layout05_02.JPG"/>
    </div>
    <div class="half-stat">
      <img src="./assets/grids/Juarez_Layout05_03.JPG"/>
    </div>
    <div class="caption">
      LEFT: Memorial Campo Algodonero, the Cotton Field Memorial, honors femicide victims in Juárez. The name of the memorial references eight young women who were
      found in a Juárez cotton field in November 2001. In 2009, the Inter-American Court of Human Rights found Mexico mishandled investigations and failed to protect
      the victims’ human rights — the first time a state was held responsible for gender-based murders, setting a historic legal precedent.
      TOP RIGHT: Weathered notices of missing women are displayed at Memorial Campo Algodonero, the Cotton Field Memorial, in Juárez.
      BOTTOM RIGHT: A cross reads “Ni Una Más” — or “Not One More” — at Memorial Campo Algodonero.
    </div>
    <div class="photoWrap">
      <img src="./assets/photos/Juarez_ejs_032.JPG"/>
      <div class="caption">Panteón Jardines del Recuerdo, a cemetery on the western outskirts of Juárez, is the resting place of
          Idalí. “It is very sad to hear the news and
          find out that girls keep disappearing and are found murdered, just like our daughters," says her mother,
          Laguna Cabral. " When we hear that, our pain
          reopens — it’s as if they were our daughters, too … With each day that passes, our authorities disappoint us more.
          We feel more helplessness and despair.” (Erika Schultz / The Seattle Times)
      </div>
    </div>
  </div>
