<div class="slide topper1">

  <video width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="./assets/crosses_lomas.mp4" type="video/mp4">
  </video>

  <h1>poem - Maria most wise</h1>

</div>



  <div class="photoWrap">
    <img src="./assets/grids/Juarez_Layout02_01.JPG"/>
    <div class="half-stat">
      <img src="./assets/grids/Juarez_Layout02_02.JPG"/>
    </div>
    <div class="half-stat">
      <img src="./assets/grids/Juarez_Layout02_03.JPG"/>
    </div>
    <div class="caption">
      TOP: Ernestina Enríquez Fierro says her youngest daughter, Adriana Sarmiento Enríquez, 15, was last seen alive in January 2008 catching a bus in Juárez’s city
      center after school. Enríquez Fierro, who supports her family as a housekeeper, says they searched “every area downtown, every neighborhood, every bus … we
      never found her.” Enríquez Fierro says she learned in November 2011 via Facebook that a government forensics office had found her daughter’s remains in 2009
      in San Agustín in the Valle de Juárez, about an hour from her home. No one had told her. “Before living this nightmare that I think I will never wake up from,
      I trusted the police … I realized everything was a lie; there are no authorities, there’s no justice, there’s no respect, there’s nothing … nobody gets
      punished.” BOTTOM LEFT: Flowers are displayed in Enríquez Fierro’s home. BOTTOM RIGHT: Adriana Sarmiento Enríquez, 15, had a lot of friends from a young age.
      She loved music, dancing and collecting toy frogs. She remembered her loved ones’ birthdays, and often woke them up by singing “Happy Birthday.” “When my mom
      died, people called me ‘the orphan.’ When my husband died, I became a widow … There’s no word to describe this,” Enríquez Fierro says about the loss of her
      daughter.
    </div>
  </div>

  <div class="pullquote">
    <div class="quote">“I ask, is being a woman a crime?”</div>
    <div class="attr">Ernestina Enríquez Fierro</div>
  </div>

  <div>THIS IS WHERE Ernestina's VIDEO GOES</div>
