

<!-- PPE  -->
<a name="equipment"></a> 
<h1>
  Equipment
</h1>
<h2>
  Shortages of protective equipment hinder testing, leave health care workers exposed</h2>
<div class="hr2"></div>
<div class="photoWrap">
  <video src="assets/PPE-LOOP.mp4" autoplay playsinline loop muted></video>
  <div class="caption">
    Health care workers at UW medicine and Evergreen Hospital wear personal protective gear while administering coronavirus tests and caring for patients. 
(Ramon Dompor, Erika Schultz and Lauren Frohne / The Seattle Times)
  </div>
</div>

<div class="maxWrap">
  <p>Personal protective equipment (PPE) for frontline health workers — N-95 masks, gowns and face shields — that is necessary to safely test and care for COVID-19 patients <a href="https://www.seattletimes.com/seattle-news/health/were-all-scared-spread-of-coronavirus-marked-by-friction-frustration-among-employees-at-valley-medical-center-facilities/" target="blank">remains in short supply</a> in Washington.</p>
  <p>But exactly how short is hard to say, as authorities don’t yet have a firm grasp on each health care facility’s inventory. Just a week ago, hospitals began reporting PPE levels to the Washington State Hospital Association (WSHA), which shares that data with state officials.</p>
  <p>But as of midweek, the association’s president, Cassie Sauer, said some hospitals submitted incorrect information, and data gathering needed to improve. State officials did not respond to The Seattle Times’ request for information about statewide PPE inventory.</p>

  <p>Because COVID-19 tests require more PPE than most diagnostic exams, the shortage hinders expansion of testing.</p>
</div>

<div class="fixedTotal sectionHed">
  <div class="fixedContainer stickMe pics half">
    <img class="desktop" src="./assets/photos/State_PPE.jpg"/>
    <div class="caption">
      The eruption in demand for masks and other personal protection equipment has resulted in a kind of global supply-chain bedlam. (Shane Lavalette / The New York Times)
    </div>
  </div>

  <div class="fixedTexts">
    <div class="text text-front right half" data-order="2">
      <div class="text-wrapper">
        <p><a href="https://www.seattletimes.com/seattle-news/as-coronavirus-spreads-frontline-workers-press-inslee-for-more-info-on-where-personal-protective-equipment-is-going/" target="blank">Until supplies are better stocked</a>, hospitals and other facilities are reusing typically disposable equipment, following state guidelines. The Department of Health, for instance, recommends using N-95 respirator masks for eight hours, or disposing of them when visibly soiled or after certain types of patient contact. These conservation measures are helping strained supply levels hold steady, according to Puget Sound-area hospitals and health care systems.</p>
      </div>
    </div>
  </div>
</div>

<div class="maxWrap">
  <p>UW Medicine hospitals, including Harborview Medical Center, had 114 patients admitted with COVID-19 symptoms as of Thursday morning and require caregivers to wear masks in all areas where patients are being treated. UW Medicine has an adequate amount of PPE because it's careful about what’s being used, spokesperson Susan Gregg said.</p>

  <p>But many health care workers remain concerned. <a href="https://www.seattletimes.com/seattle-news/health/coronavirus-daily-news-updates-april-9-what-to-know-today-about-covid-19-in-the-seattle-area-washington-state-and-the-nation/#update-12670262" target="blank">Some protested the lack of PPE</a> outside hospitals around Washington on Thursday and called on the Trump administration to use the Defense Production Act to procure the gear.</p>

  <p>State officials have been procuring PPE from private and public sources, including the Strategic National Stockpile. Since March 16, the state has acquired and distributed nearly 400,000 N-95 masks, a fraction of the 31.6 million it has ordered.</p>
</div>

<div class="video">
  <%= t.include("partials/_video.html", { id: "6147175194001"}) %>
  <div class="caption">When members of the Seattle Chinese New Immigrant Center saw a lack of protective equipment among health care workers fighting coronavirus in their community, they raised $70,000 in one week to purchase gear overseas. (Ramon Dompor / The Seattle Times)
  </div>
</div>

<div class="maxWrap">

  <p>Meanwhile, health care administrators are getting creative. Some hospitals are recruiting community volunteers to sew masks. Sauer’s organization, which has no import/export experience, ordered 550,000 masks from China for smaller hospitals. She hopes Washington importers will step up to help during the pandemic.</p>

  <p>“We have empty airplane capacity in this state,” Sauer said. “I would love it if somebody would get a plane to China and bring back a million masks.”</p>

  <p><i>— Ryan Blethen and Mike Reicher</i></p>

  <a href="https://www.seattletimes.com/seattle-news/as-coronavirus-spreads-frontline-workers-press-inslee-for-more-info-on-where-personal-protective-equipment-is-going/" target="_blank">Read more about equipment</a>

</div>

<div class="hr2"></div>
<!-- END OF PPE -->