<div class="hr2"></div>
<div class="special">
  <div class="specialVid">
      <video
        data-account="1509317113"
        data-player="lPxN0ViN"
        data-embed="default"
        data-video-id="6137695941001"
        id="player-8"
        class="video-js"
        controls playsinline>
      </video>

      <video id="looper" width="100%" height="auto" loop autoplay muted>
        <source src="./assets/ernestina_rough.mp4" type="video/mp4">
      </video>

      <div class="brightcove__button">
        <span class="brightcove__button__text">
          Play full video (6:45)
        </span>
        <span class="brightcove__button__play">
          <svg viewBox="0 0 10 10" preserveAspectRatio="xMidYMid meet" role="img" alt="Play icon">

            <polygon points="9,5 2.648858990830108,8.23606797749979 2.648858990830107,1.7639320225002106" fill="#000"></polygon>
          </svg>
        </span>
      </div>

      <!-- <div class="playButton"><i class="fa fa-play-circle" aria-hidden="true"></i></div> -->
    </div>
    <div class="caption">Ernestina Enríquez Fierro lost her youngest daughter, 15-year-old Adriana, to femicide in 2008.
      Facing indifference from authorities, Enríquez Fierro fights back against a culture of impunity and misogyny.</div>
</div>


<div class="fixedTotal">
  <div class="fixedContainer stickMe">
    <div class="pics left">
      <img class="desktop" src="./assets/photos/Juarez_ejs_005.JPG"/>
      <img class="mobile" src="./assets/verticals/Juarez_ejs_005.jpg"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/photos/Juarez_ejs_007.JPG"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/photos/Juarez_ejs_006.JPG"/>
    </div>
    <div class="pics half left" >
      <img src="./assets/photos/laundry.jpg"/>
    </div>
  </div>

  <div class="fixedTexts">

    <div class="text text-front left quarter white" data-order="1">
      <div class="scrollBy">
        <svg version="1.1" id="Template" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 630 150">
        <style type="text/css">
        	.B_x002F_W_x0020_Water_x0020_25k{fill:#BFBFBF;}
        	.st0{fill:#FFFFFF;}
        </style>
        <path class="st0" d="M339.6,79.1L339.6,79.1c-0.4,0-0.8-0.2-1.1-0.4l-14.9-14.9c-0.6-0.6-0.6-1.5,0-2.1c0.6-0.6,1.5-0.6,2.1,0
        	l13.8,13.8l13.8-13.8c0.6-0.6,1.5-0.6,2.1,0s0.6,1.5,0,2.1l-14.9,14.9C340.3,78.9,340,79.1,339.6,79.1z"/>
        </svg>
      </div>
      <div class="text-wrapper hero">
      Ernestina Enríquez Fierro says her youngest daughter, Adriana Sarmiento Enríquez, 15, was last seen alive in January 2008
      catching a bus in Juárez’s city center after school. Enríquez Fierro, who supports her family as a housekeeper, says they
      searched “every area downtown, every neighborhood, every bus … we never found her.”
      </div>
    </div>

    <div id="ernestina" class="text text-back left quarter white" data-order="1">
      <div class="text-wrapper">
      Enríquez Fierro says she learned in November 2011 via Facebook that a government forensics office had found her daughter’s
      remains in 2009 in San Agustín in the Valle de Juárez, about an hour from her home. No one had told her. “Before living this
      nightmare that I think I will never wake up from, I trusted the police … I realized everything was a lie; there are no authorities,
      there’s no justice, there’s no respect, there’s nothing … nobody gets punished.”
      </div>
    </div>

    <div class="text right half" data-order="2">
      <div class="text-wrapper">
        <div>
          Adriana, 15, had a lot of friends from a young age. She loved music,
          dancing and collecting toy frogs. She remembered her loved ones' birthdays, and often woke them up by singing “Happy Birthday.”
        </div>
        <div>
          “When my mom died, people called me ‘the orphan.’ When my husband died, I became a widow …
          There’s no word to describe this,” Enríquez Fierro says about the loss of her daughter.
        </div>
      </div>
    </div>

      <div class="text right half" data-order="3">
        <div class="text-wrapper">
          Flowers are displayed in Enríquez Fierro’s home.
        </div>
      </div>

      <div class="text right half" data-order="4">
        <div class="pullquote text-wrapper">
          <div class="quote">“I ask &mdash; is being a woman a crime?”</div>
          <div class="attr">Ernestina Enríquez Fierro</div>
        </div>
      </div>


  </div>
</div>
