<div class="slide topper2">

  <div class="inner inner1" id="second">Maria, your rose</div>
  <div class="inner inner2" id="third">on a shallow grave</div>


  <video width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="/assets/grave_idali.mp4" type="video/mp4">
  </video>
</div>

<div class="slide topper2">
  <div class="inner inner3" id="fourth">The desert refused</div>
  <div class="inner inner4" id="fifth">to swallow your dew</div>
  <div class="inner inner5" id="sixth">For Maria Eugenia, 2000 - 2018</div>

  <video width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="/assets/cemetery.mp4" type="video/mp4">
  </video>
</div>

<div class="slide">

  <div class="centerme">
    <div>Juárez's victims of femicide — women killed because they are women — are not just statistics.</div>

    <div>Washington State Poet Laureate Claudia Castro Luna set out to memorialize each with a poem.</div>

    <div>The Seattle Times set out to have the women of Juarez tell us story of their loss. The grief and anger, but also the resolve.</div>
  </div>
</div>

<div class="slide topper1">

  <!-- <video width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="/assets/crosses_lomas.mp4" type="video/mp4">
  </video> -->
  <img width="100%" src="assets/photos/Juarez_ejs_004.JPG"/>

  <h1>Disappearing<br>Daughters</h1>

</div>
