<div class="navBar">
  <div id="navScroll"></div>
</div>



<div class="slide clearPoint">

  <div id="mobileLooper">
    <img src="./assets/verticals/Juarez_ejs_004.jpg"/>
  </div>

  <div class="center">

  <div class="headline">
    <div class="hr3"></div>
    <h1>Disappearing<br>Daughters</h1>
  </div>

  <video id="desktopLooper" width="100%" height="auto" autoplay="autoplay" loop="true" muted>
    <source src="./assets/topper_1.mp4" type="video/mp4">
  </video>

  </div>



</div>


<div class="slide" style="margin-bottom: 25vh;">
  <!-- <div class="streak"><div class="overlay"></div></div> -->

  <div class="centerme maxWrap">
    <div>Femicide — violence against women <i>because</i> they are women —  transcends borders.</div>

    <div>Through reporting, photography, film and poetry, immerse yourself in the stories of the resilient women
      of Ciudad Juárez, Mexico, as they search for justice after losing their beloved daughters.</div>

    <button id="sound"><i class="fa fa-headphones" aria-hidden="true"></i> Click here to experience with sound </button>
  </div>





</div>


<div id="firstVid" class="slideVid topper1">

  <div class="stickMe">
  <div class="wrap">

    <section data-background-color="black">
      <div class="aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="Lo6UYxY9"
            data-embed="default"
            data-video-id="6137698675001"
            id="player-1"
            class="video-js"
            controls playsinline>
          </video>
        </div>
      </div>
    </section>

    <!-- <div class="overlay"></div> -->

  </div>
  </div>

</div>
